.button-links,
.button-links > p {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.button-links > p {
  width: 100%;
  margin: 0;
}

.button-links a,
.button-links > p a,
.button-links a:link,
.button-links > p a:link {
  text-decoration: none;
  box-sizing: content-box;
  font-weight: 700;
  color: var(--button-nav-fg);
  background-color: var(--button-nav-bg);
  border: 2px solid transparent;
  border-radius: 9999px;
  user-select: none;
  padding: 20px 10%;
  margin: 10px;
  display: flex;
  font-size: 20px;
  flex: 0.5;
  transition-property: border, color;
  transition-duration: 0.5s;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 1080px) {
  .button-links a,
  .button-links > p a,
  .button-links a:link,
  .button-links > p a:link {
    box-sizing: border-box;
    margin: 10px 6px;
    flex: 0 0 90%;
    width: 100%;
    white-space: normal;
  }
}

@media screen and (max-width: 400px) {
  .button-links a,
  .button-links > p a,
  .button-links a:link,
  .button-links > p a:link {
    box-sizing: border-box;
    margin: 10px 6px;
    flex: 0 0 100%;
    width: 100%;
    white-space: normal;
  }
}

.button-links a:hover,
.button-links > p a:hover,
.button-links a:visited:hover,
.button-links > p a:visited:hover {
  text-decoration: none;
  border: 2px solid var(--button-nav-hover-border);
  color: var(--button-nav-hover-fg);
  background: var(--button-nav-hover-bg);
}
