.button-links,
.button-links-outlined {
  max-width: 800px;
  margin: 48px auto 0 auto;
}

.button-links,
.button-links > p,
.button-links-outlined,
.button-links-outlined > p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 24px;
}

.button-links > p,
.button-links-outlined > p {
  width: 100%;
}

.button-links a,
.button-links > p a,
.button-links a:link,
.button-links > p a:link,
.button-links a:visited,
.button-links > p a:visited,
.button-links-outlined a,
.button-links-outlined > p a,
.button-links-outlined a:link,
.button-links-outlined > p a:link,
.button-links-outlined a:visited,
.button-links-outlined > p a:visited {
  @apply docsBodyText;
  text-decoration: none;
  font-weight: 700;
  border-radius: 9999px;
  user-select: none;
  display: flex;
  flex: 0.5;
  transition: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  max-width: 388px;
  width: 100%;
}

.button-links a,
.button-links > p a,
.button-links a:link,
.button-links > p a:link,
.button-links a:visited,
.button-links > p a:visited {
  padding: 12px 10%;
  color: var(--button-nav-fg);
  background-color: var(--button-nav-bg);
}

.button-links-outlined a,
.button-links-outlined > p a,
.button-links-outlined a:link,
.button-links-outlined > p a:link,
.button-links-outlined a:visited,
.button-links-outlined > p a:visited {
  padding: 8px 10%;
  color: var(--button-outlined-text);
  border: 2px solid var(--button-outlined-border);
  background: var(--button-outlined-bg);
}

@media screen and (max-width: 1080px) {
  .button-links,
  .button-links > p,
  .button-links-outlined,
  .button-links-outlined > p {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1080px) {
  .button-links a,
  .button-links > p a,
  .button-links a:link,
  .button-links > p a:link,
  .button-links-outlined a,
  .button-links-outlined > p a,
  .button-links-outlined a:link,
  .button-links-outlined > p a:link {
    width: 100%;
    white-space: normal;
  }
}

.button-links a:hover,
.button-links > p a:hover,
.button-links a:visited:hover,
.button-links > p a:visited:hover {
  text-decoration: none;
  color: var(--button-nav-hover-fg);
  background: var(--button-nav-hover-bg);
}

.button-links-outlined a:hover,
.button-links-outlined > p a:hover,
.button-links-outlined a:visited:hover,
.button-links-outlined > p a:visited:hover {
  text-decoration: none;
  color: var(--button-outlined-hover-text);
  border: 2px solid var(--button-outlined-hover-border);
}
