.nav-return,
.nav-return:visited {
  color: var(--sidebar-fg);
  text-decoration: none;
}

#logo {
  letter-spacing: -0.1rem;
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 0;
}

#logo,
#logo:hover,
#logo:visited,
#logo:hover:visited {
  color: var(--fg);
  text-decoration: none;
}

#logo > svg {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.button-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.button-links a {
  box-sizing: content-box;
  font-weight: 300;
  background-color: transparent;
  border: 2px solid var(--sidebar-active);
  border-radius: 15px;
  user-select: none;
  padding: 40px 10%;
  margin: 20px;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  flex: 0.5;
  transition-property: border, color;
  transition-duration: 0.5s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1080px) {
  .button-links a {
    box-sizing: border-box;
    margin: 20px 10px;
    flex: 0 0 100%;
  }
}

.button-links a:hover,
.button-links a:visited:hover {
  text-decoration: none;
  border: 2px solid var(--sidebar-fg);
  color: var(--sidebar-fg);
}
