.nav-return,
.nav-return:visited {
  color: var(--sidebar-fg);
  text-decoration: none;
}

#logo {
  letter-spacing: -1px;
  font-size: 42px;
  font-weight: 300;
  line-height: 0;
}

#logo,
#logo:hover,
#logo:visited,
#logo:hover:visited {
  color: var(--headers);
  text-decoration: none;
}

#logo > svg {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  box-sizing: content-box;
  padding: 10px 0;
}

.button-links,
.button-links > p {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.button-links > p {
  width: 100%;
  margin: 0;
}

.button-links a,
.button-links > p a,
.button-links a:link,
.button-links > p a:link {
  text-decoration: none;
  box-sizing: content-box;
  font-weight: 300;
  color: var(--button-nav-fg);
  background-color: var(--button-nav-bg);
  border: 2px solid transparent;
  border-radius: 15px;
  user-select: none;
  padding: 20px 10%;
  margin: 10px;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  flex: 0.5;
  transition-property: border, color;
  transition-duration: 0.5s;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 1080px) {
  .button-links a,
  .button-links > p a,
  .button-links a:link,
  .button-links > p a:link {
    box-sizing: border-box;
    margin: 10px 6px;
    flex: 0 0 90%;
    width: 100%;
    white-space: normal;
  }
}

@media screen and (max-width: 400px) {
  .button-links a,
  .button-links > p a,
  .button-links a:link,
  .button-links > p a:link {
    box-sizing: border-box;
    margin: 10px 6px;
    flex: 0 0 100%;
    width: 100%;
    white-space: normal;
  }
}

.button-links a:hover,
.button-links > p a:hover,
.button-links a:visited:hover,
.button-links > p a:visited:hover {
  text-decoration: none;
  border: 2px solid var(--button-nav-hover);
  color: var(--button-nav-fg);
}

.svg-embed {
  margin-top: 10px;
  margin-bottom: 10px;
}

.svg-embed svg {
  width: 100%;
  height: 100%;
}
