  /* source-code-pro-500 - latin_vietnamese_latin-ext_greek_cyrillic-ext_cyrillic */
  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/source-code-pro-v11-all-charsets-500.woff2') format('woff2');
  }
