:root {
  --bg: #fff !important;
  --fg: #000 !important;
  --headers: #000 !important;

  --links: #000 !important;
  --links-hover: var(--sidebar-active);

  --table-border-color: #000 !important;
  --table-header-bg: #fff !important;
  --table-alternate-bg: #fff !important;

  --color-scheme: light !important;
}

#body-container {
  min-height: 100vh;
  display: grid;
  grid:
    [row2-start] "content" 1fr [row2-end]
    / 100% !important;
}

#sidebar,
#menu-bar,
.nav-chapters,
.mobile-nav-chapters {
  display: none !important;
}

#page-wrapper.page-wrapper {
  transform: none !important;
  margin-inline-start: 0px;
  overflow-y: initial;
}

#content {
  max-width: none;
  margin: 0;
  padding: 0;
}

.button-links,
.title-embed {
  display: none !important;
}

.svg-embed-light {
  display: block !important;
}

.svg-embed-coal {
  display: none !important;
}

.page {
  overflow-y: initial;
}

code {
  direction: ltr !important;
}

pre > .buttons {
  z-index: 2;
}

a,
a:visited,
a:active,
a:hover {
  color: #4183c4;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-inside: avoid;
  page-break-after: avoid;
}

pre,
code {
  page-break-inside: avoid;
  white-space: pre-wrap;
}

.fa {
  display: none !important;
}
