/* Globals */

:root {
  /* Colors from Style Guide */
  --navy: #14313f;
  /* Primary is usually used for headers, nav, etc... */
  --primary: #18465e;
  --teal: #55b1ab;
  /* Neutral Colors */
  --black: #000000;
  --gray1: #4f4f4f;
  --gray2: #828282;
  --gray3: #c8cdd0;
  --white: #ffffff;
  --shadow: #00000040;
  /* Supporting Colors */
  --tealDark: #339b94;
  --tealBright: #00b6af;
  --brightBlue: #5e69ff;
  --dustyRose: #a06b87;
  --orange: #f77c47;
  --yellow: #ffd647;
  /* State tailwindColors */
  --error: #eb5757;
  --warning: #f99a2a;
  --success: #27ae60;
  --info: #2f80ed;

  /* Extra Colors */
  --whiteDark: #f0f0f0;
  --navyDark: #0b1e28;

  /* Extra Variables */
  --sidebar-width-mobile: calc(100vw - 50px);
  --header-height: 85px;

  /* Original Variables */
  --sidebar-width: 360px;
  --sidebar-resize-indicator-width: 4px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 1080px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */;
}

/* Themes */

.coal {
  --bg: var(--navy);
  --fg: var(--whiteDark);
  --headers: var(--whiteDark);

  --sidebar-bg: var(--navyDark);
  --sidebar-fg: var(--whiteDark);
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: var(--teal);
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: var(--whiteDark);
  --icons-hover: var(--teal);

  --links: var(--teal);
  --links-hover: var(--whiteDark);

  --inline-code-color: var(--gray3);

  --theme-popup-fg: var(--sidebar-fg);
  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--links);
  --theme-hover: var(--sidebar-active);

  --quote-bg: hsl(234, 21%, 18%);
  --quote-border: hsl(234, 21%, 23%);

  --warning-border: var(--warning);

  --table-border-color: var(--gray1);
  --table-header-bg: var(--sidebar-bg);
  --table-alternate-bg: var(--sidebar-bg);

  --searchbar-border-color: #aaa;
  --searchbar-bg: var(--white);
  --searchbar-fg: var(--navyDark);
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: var(--shadow);
  --search-mark-bg: var(--shadow);

  --color-scheme: dark;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: var(--navyDark);
  --button-nav-fg: var(--headers);
  --button-nav-hover-fg: var(--headers);
  --button-nav-hover-bg: var(--navyDark);
  --button-nav-hover-border: var(--headers);

  /* Same as `--icons` */
  --copy-button-filter: invert(26%) sepia(8%) saturate(575%) hue-rotate(169deg) brightness(87%) contrast(82%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(36%) sepia(70%) saturate(503%) hue-rotate(167deg) brightness(98%) contrast(89%);
}

.light,
html:not(.js) {
  --bg: #fff;
  --fg: #000;
  --headers: var(--primary);

  --sidebar-bg: var(--navy);
  --sidebar-fg: #fff;
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: var(--teal);
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: var(--navy);
  --icons-hover: var(--teal);

  --links: var(--primary);
  --links-hover: var(--sidebar-active);

  --inline-code-color: #301900;

  --theme-popup-fg: var(--sidebar-fg);
  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--links);
  --theme-hover: var(--sidebar-active);

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --warning-border: var(--warning);

  --table-border-color: var(--sidebar-bg);
  --table-header-bg: var(--gray2);
  --table-alternate-bg: var(--gray3);

  --searchbar-border-color: #aaa;
  --searchbar-bg: var(--white);
  --searchbar-fg: var(--navyDark);
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: var(--shadow);
  --search-mark-bg: var(--shadow);

  --color-scheme: light;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: var(--teal);
  --button-nav-fg: var(--black);
  --button-nav-hover-fg: var(--black);
  --button-nav-hover-bg: var(--tealDark);
  --button-nav-hover-border: var(--tealDark);

  /* Same as `--icons` */
  --copy-button-filter: invert(45.49%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(14%) sepia(93%) saturate(4250%) hue-rotate(243deg) brightness(99%) contrast(130%);
}

@media (prefers-color-scheme: dark) {
  html:not(.js) {
    --bg: var(--navy);
    --fg: var(--whiteDark);
    --headers: var(--whiteDark);

    --sidebar-bg: var(--navyDark);
    --sidebar-fg: var(--whiteDark);
    --sidebar-non-existant: var(--sidebar-fg);
    --sidebar-active: var(--teal);
    --sidebar-spacer: var(--sidebar-bg);

    --scrollbar: var(--sidebar-fg);

    --icons: var(--whiteDark);
    --icons-hover: var(--teal);

    --links: var(--teal);
    --links-hover: #f0f0f0;

    --inline-code-color: #c5c8c6;

    --theme-popup-fg: var(--sidebar-fg);
    --theme-popup-bg: var(--sidebar-bg);
    --theme-popup-border: var(--links);
    --theme-hover: var(--sidebar-active);

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --warning-border: var(--warning);

    --table-border-color: var(--gray1);
    --table-header-bg: var(--sidebar-bg);
    --table-alternate-bg: var(--sidebar-bg);

    --searchbar-border-color: #aaa;
    --searchbar-bg: var(--white);
    --searchbar-fg: var(--navyDark);
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: var(--headers);
    --searchresults-border-color: var(--headers);
    --searchresults-li-bg: var(--shadow);
    --search-mark-bg: var(--shadow);

    --color-scheme: dark;

    --page-nav-fg: var(--headers);
    --page-nav-bg: var(--sidebar-bg);

    --button-nav-bg: var(--navyDark);
    --button-nav-fg: var(--headers);
    --button-nav-hover-fg: var(--headers);
    --button-nav-hover-bg: var(--navyDark);
    --button-nav-hover-border: var(--headers);

    /* Same as `--icons` */
    --copy-button-filter: invert(26%) sepia(8%) saturate(575%) hue-rotate(169deg) brightness(87%) contrast(82%);
    /* Same as `--sidebar-active` */
    --copy-button-filter-hover: invert(36%) sepia(70%) saturate(503%) hue-rotate(167deg) brightness(98%) contrast(89%);
  }
}
