/* Globals */
/*
 * MOD: We have to modify this fairly heavily.
 * To update, just make sure that we have all the new variables.
 */

:root {
  /* Colors from Style Guide */
  --color-primary: #790e70;
  --color-purple25: #9a4a94;
  --color-purple50: #bc86b7;
  --color-purple75: #ddc3db;
  --color-darkPurple: #331e49;
  --color-secondary: #ff9a02;

  /* State Colors */
  --color-error: #eb5757;
  --color-warning: #f99a2a;
  --color-success: #27ae60;
  --color-info: #2f80ed;

  /* Neutrals */
  --color-black: #242527;
  --color-gray1: #717171;
  --color-gray2: #8b8b8b;
  --color-gray3: #dbdbdb;
  --color-white: #ffffff;
  --color-cream: #fcf3e4;

  /* Gradients */
  --gradient-primary: -90deg, #311e48 0%, #790e70 50%, #aa40a1 100%;
  --gradient-secondary: -90deg, #ff5b2f 0%, #ff9a02 50%, #ffcf2c 100%;

  /* Extra Colors */
  --color-cream: #f0f0f0;

  /* Extra Variables */
  --sidebar-width-mobile: calc(100vw - 50px);
  --header-height: 85px;

  /* Original Variables */
  --sidebar-width: 360px;
  --sidebar-resize-indicator-width: 4px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 1080px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */;
}

/* Themes */

.coal {
  --bg: var(--color-black);
  --fg: var(--color-cream);
  --headers: var(--color-cream);

  --sidebar-bg: var(--color-darkPurple);
  --sidebar-fg: var(--color-cream);
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: var(--color-purple75);
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: var(--color-cream);
  --icons-hover: var(--color-purple75);

  --links: var(--color-white);
  --links-hover: var(--color-purple75);

  --inline-code-color: var(--color-gray3);

  --theme-popup-fg: var(--sidebar-fg);
  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--color-purple75);
  --theme-hover: var(--color-purple25);

  --quote-bg: hsl(234, 21%, 18%);
  --quote-border: hsl(234, 21%, 23%);

  --warning-border: var(--color-warning);

  --table-border-color: var(--color-gray1);
  --table-header-bg: var(--sidebar-bg);
  --table-alternate-bg: var(--sidebar-bg);

  --searchbar-border-color: #aaa;
  --searchbar-bg: var(--color-white);
  --searchbar-fg: var(--color-darkPurple);
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: var(--color-gray1);
  --search-mark-bg: var(--color-gray1);

  --color-scheme: dark;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: var(--color-darkPurple);
  --button-nav-fg: var(--headers);
  --button-nav-hover-fg: var(--headers);
  --button-nav-hover-bg: var(--color-darkPurple);
  --button-nav-hover-border: var(--headers);

  /* Same as `--icons` */
  --copy-button-filter: invert(26%) sepia(8%) saturate(575%) hue-rotate(169deg) brightness(87%) contrast(82%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(36%) sepia(70%) saturate(503%) hue-rotate(167deg) brightness(98%) contrast(89%);

  --footnote-highlight: var(--links);
}

.light,
html:not(.js) {
  --bg: #fff;
  --fg: #000;
  --headers: var(--color-darkPurple);

  --sidebar-bg: var(--color-primary);
  --sidebar-fg: #fff;
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: var(--color-white);
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: var(--color-primary);
  --icons-hover: var(--color-darkPurple);

  --links: var(--color-darkPurple);
  --links-hover: var(--sidebar-active);

  --inline-code-color: #301900;

  --theme-popup-fg: var(--sidebar-fg);
  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--links);
  --theme-hover: var(--color-darkPurple);

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --warning-border: var(--color-warning);

  --table-border-color: var(--sidebar-bg);
  --table-header-bg: var(--color-gray2);
  --table-alternate-bg: var(--color-gray3);

  --searchbar-border-color: #aaa;
  --searchbar-bg: var(--color-white);
  --searchbar-fg: var(--color-darkPurple);
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: var(--color-gray3);
  --search-mark-bg: var(--color-gray3);

  --color-scheme: light;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: var(--color-primary);
  --button-nav-fg: var(--color-cream);
  --button-nav-hover-fg: var(--color-cream);
  --button-nav-hover-bg: var(--color-darkPurple);
  --button-nav-hover-border: var(--color-primary);

  /* Same as `--icons` */
  --copy-button-filter: invert(45.49%);
  /* Same as `--sidebar-active` */
  --copy-button-filter-hover: invert(14%) sepia(93%) saturate(4250%) hue-rotate(243deg) brightness(99%) contrast(130%);

  --footnote-highlight: var(--links);
}

@media (prefers-color-scheme: dark) {
  html:not(.js) {
    --bg: var(--color-black);
    --fg: var(--color-cream);
    --headers: var(--color-cream);

    --sidebar-bg: var(--color-darkPurple);
    --sidebar-fg: var(--color-cream);
    --sidebar-non-existant: var(--sidebar-fg);
    --sidebar-active: var(--color-purple75);
    --sidebar-spacer: var(--sidebar-bg);

    --scrollbar: var(--sidebar-fg);

    --icons: var(--color-cream);
    --icons-hover: var(--color-purple75);

    --links: var(--color-white);
    --links-hover: var(--color-purple75);

    --inline-code-color: var(--color-gray3);

    --theme-popup-fg: var(--sidebar-fg);
    --theme-popup-bg: var(--sidebar-bg);
    --theme-popup-border: var(--color-purple75);
    --theme-hover: var(--color-purple25);

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --warning-border: var(--color-warning);

    --table-border-color: var(--color-gray1);
    --table-header-bg: var(--sidebar-bg);
    --table-alternate-bg: var(--sidebar-bg);

    --searchbar-border-color: #aaa;
    --searchbar-bg: var(--color-white);
    --searchbar-fg: var(--color-darkPurple);
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: var(--headers);
    --searchresults-border-color: var(--headers);
    --searchresults-li-bg: var(--color-gray1);
    --search-mark-bg: var(--color-gray1);

    --color-scheme: dark;

    --page-nav-fg: var(--headers);
    --page-nav-bg: var(--sidebar-bg);

    --button-nav-bg: var(--color-darkPurple);
    --button-nav-fg: var(--headers);
    --button-nav-hover-fg: var(--headers);
    --button-nav-hover-bg: var(--color-darkPurple);
    --button-nav-hover-border: var(--headers);

    /* Same as `--icons` */
    --copy-button-filter: invert(26%) sepia(8%) saturate(575%) hue-rotate(169deg) brightness(87%) contrast(82%);
    /* Same as `--sidebar-active` */
    --copy-button-filter-hover: invert(36%) sepia(70%) saturate(503%) hue-rotate(167deg) brightness(98%) contrast(89%);

    --footnote-highlight: var(--links);
  }
}
