/* Globals */

:root {
  --sidebar-width: 300px;
  --sidebar-resize-indicator-width: 8px;
  --sidebar-resize-indicator-space: 2px;
  --page-padding: 15px;
  --content-max-width: 950px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em /* please adjust the ace font size accordingly in editor.js */;
}

/* Themes */

.coal {
  --bg: #0b1e28;
  --fg: #f5f6f7;
  --headers: #fefaf3;

  --sidebar-bg: #19455e;
  --sidebar-fg: #f0f0f0;
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: #4ba0a5;
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: #f1f1f1;
  --icons-hover: #4ba0a5;

  --links: var(--sidebar-active);

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--links);
  --theme-hover: var(--links);

  --quote-bg: hsl(234, 21%, 18%);
  --quote-border: hsl(234, 21%, 23%);

  --warning-border: #ff8e00;

  --table-border-color: var(--sidebar-bg);
  --table-header-bg: var(--sidebar-bg);
  --table-alternate-bg: var(--sidebar-bg);

  --searchbar-border-color: #aaa;
  --searchbar-bg: var(--headers);
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: #2b2b2f;
  --search-mark-bg: #355c7d;

  --color-scheme: dark;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: #3e6f8c;
  --button-nav-fg: var(--headers);
  --button-nav-hover: var(--headers);
}

.light {
  --bg: #fff;
  --fg: #000;
  --headers: #19455e;
  --headers-alt: #f77c47;

  --sidebar-bg: #19455E;
  --sidebar-fg: #fff;
  --sidebar-non-existant: var(--sidebar-fg);
  --sidebar-active: #4ba0a5;
  --sidebar-spacer: var(--sidebar-bg);

  --scrollbar: var(--sidebar-fg);

  --icons: #19455e;
  --icons-hover: #4ba0a5;

  --links: var(--sidebar-active);
  --links-hover: var(--headers-alt);

  --inline-code-color: #301900;

  --theme-popup-bg: var(--sidebar-bg);
  --theme-popup-border: var(--links);
  --theme-hover: var(--links);

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --warning-border: #ff8e00;

  --table-border-color: var(--sidebar-bg);
  --table-header-bg: var(--sidebar-bg);
  --table-alternate-bg: var(--sidebar-bg);

  --searchbar-border-color: #aaa;
  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: var(--headers);
  --searchresults-border-color: var(--headers);
  --searchresults-li-bg: #e4f2fe;
  --search-mark-bg: #a2cff5;

  --color-scheme: light;

  --page-nav-fg: var(--headers);
  --page-nav-bg: var(--sidebar-bg);

  --button-nav-bg: #3e6f8c;
  --button-nav-fg: var(--bg);
  --button-nav-hover: var(--headers);
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
    --bg: #0b1e28;
    --fg: #f5f6f7;
    --headers: #fefaf3;

    --sidebar-bg: #19455e;
    --sidebar-fg: #f0f0f0;
    --sidebar-non-existant: var(--sidebar-fg);
    --sidebar-active: #4ba0a5;
    --sidebar-spacer: #0b1e28;

    --scrollbar: var(--sidebar-fg);

    --icons: #f1f1f1;
    --icons-hover: #4ba0a5;

    --links: var(--sidebar-active);

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: var(--sidebar-bg);
    --theme-popup-border: var(--links);
    --theme-hover: var(--links);

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --warning-border: #ff8e00;

    --table-border-color: var(--sidebar-bg);
    --table-header-bg: var(--sidebar-bg);
    --table-alternate-bg: var(--sidebar-bg);

    --searchbar-border-color: #aaa;
    --searchbar-bg: var(--headers);
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: var(--headers);
    --searchresults-border-color: var(--headers);
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;

    --color-scheme: dark;

    --page-nav-fg: var(--headers);
    --page-nav-bg: var(--sidebar-bg);

    --button-nav-bg: #3e6f8c;
    --button-nav-fg: var(--headers);
    --button-nav-hover: var(--headers);
  }
}
